@CHARSET "ISO-8859-1";
body{
	font-family:Arial, sans-serif;
	color:	#253f3f;
}
table {
	diplay:block;
	margin:0 auto;
	border-collapse: collapse;
}
th, td {
	padding:10px;
	border: 1px solid #ccc;
}
td{
	font-size:18px;
	text-align:center;
}
th{
	color:white;
	font-size:24px;
	background-color:	#253f3f;
}
.center{
	text-align:center;
}
.button{
	display:inline-block;
	text-align:center;
	margin:10px auto;
	padding:10px;
	background-color:#df5520;
	color:white;
	font-size:16px;
	border-radius: 2px;
}
h1{
	width:100%;
	text-align:center;
	background-color:#253f3f;
	color:white;
	padding: 10px;
}
h3{
	text-align:center;
	line-height: 24px;
	width:100%;
}
#newElectionForm{
	width:500px;
	display:block;
	margin:0 auto;
	text-align:right;
}
#newElectionForm input[type="text"]{
	margin:10px;
	border:none;
	background-color:#f8e8e2;
	padding:5px;
	width:300px;
}